{
    "include": ["**/*.js"],
    "exclude": ["**/test/**", "**/cypress/**", "**/linter/**", "**/coverage/**", "cypress.config.js"],
    "reporter": [
      "lcov",
      "text"
    ],
    "report-dir": "coverage",
    "all": true,
    "lines": 1, 
    "branches": 1,
    "functions": 1,
    "statements": 1
  }
  